@charset "ISO-8859-1";




footer.eliminarCliente {
    /*background-color: #6688aa;*/
    background-color: #04e18e;
    padding: 25px;
    width: 156.9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}


table.display {
	border-collapse: collapse;
	width: 100%;
 }

table.displayth, td {
     text-align: center;
     padding: 8px;
}

table.display tr:nth-child(even) { 
	background-color: #f2f2f2;
}

table.display th {
	background-color: #04AA6D;
	color: white;
}

