@charset "ISO-8859-1";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    box-sizing: border-box;
}

body {
    background-color: #34495e;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.encabezado {
    background-color: #34495e;
    height: 70px;
}

.contenido {
    display: flex;
    flex: 1;
    padding: 20px;
    padding: 0;
    margin: 0;
}

address {
    background-color: #b7b7b7;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

address:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


h1 {
    font-family: Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 35px;
    text-align: center;
    color: #000080;
    font-family: Arial, sans-serif;
}


.btn {
    border: none;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #04AA6D;
    width: 100%;
    margin-bottom: 15px;
}

.btn:hover {
    background: #04AA6D;
    color: white;
}

.cerrar-sesion {
    background-color: red;
    padding: 15px 50px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s;
}

.cerrar-sesion:hover {
    background-color: #ff8080;
}

.btn-volver {
    padding: 15px 50px;
    border-radius: 5px;
    border: none;               /* Elimina el borde */
    outline: none;               /* Quita el borde azul al enfocar */
    color: white;                /* Color del texto */
    background-color: blue;   /* Color de fondo */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-volver:hover {
    background-color: #51a8ff;
}

form {
    max-width: 650px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group input,
.form-group select,
.form-group .auto-id {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 33px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.info-columns {
    display: flex;
    gap: 20px; /* Espacio entre las columnas */
}

.columna {
    flex: 1;
}

.columna p {
    margin: 5px 0;
}